[submodule "catkin_ws/src/odrive_ros"]
	path = catkin_ws/src/odrive_ros
	url = git@github.com:rutgers/odrive_ros.git
[submodule "catkin_ws/src/mavlink"]
	path = catkin_ws/src/mavlink
	url = https://github.com/mavlink/mavlink.git
